asgiref==3.11.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
Django==5.2.8
svix
django-cors-headers==4.9.0
djangorestframework==3.16.1
drf-nested-routers==0.95.0
ecdsa==0.19.1
idna==3.11
pillow==12.0.0
pyasn1==0.6.1
pycparser==2.23
PyMySQL==1.1.2
python-decouple==3.8
python-dotenv==1.2.1
python-jose==3.5.0
requests==2.32.5
rsa==4.9.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
